#content,
.join,
.mountains,
#hero-img {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
}

#hero-img {
    width: 100%;
}

nav a {
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #393d75;
}

body {
    background-color: #e7e7ea;
    align-content: center;
}

header {
    background-color: #393d75;
}

nav a:hover,
.book:hover,
.join:hover,
footer a:hover {
    background-color: #f1ab33;
}

.home-title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    color: #f1ab33;
}

h4,
.book,
.join,
.msg h2,
.msg p,
footer h3,
footer a {
    color: #293043;
}

.social a:hover {
    background-color: #e7e7ea;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
}

h1,
h2,
h3, 
h4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}

