img.column {
  
    background: #444444;
    border-radius: 50%;
    border-width: 20px;
    border-color: #444444;
    padding: auto;
    float: left;
    width: 18%;
    padding: 10px;
    margin-left: 6%;
    margin-right: 5%;

  }
img.banner_image {
    display: block;
    width: 100%

}
body {
    background-color: #737373;
    width: 100%;
}
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .row {
      margin-top: 4%;
      margin-bottom: 0%;
  }